
   
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body ng-app="classroom">  
  <div id="layoutContainer" ng-controller="layoutController as ctrl" ng-cloak fxLayout="column">
    <div class="big-box">
      <h1>welcome to virtual classroom</h1>
    </div>
    <div class="side-and-home">
      <div class="side-box" >    
        <button class="box" [routerLink]="['/home']">home</button>
        <button class="box" [routerLink]="['/home/addclassroom']">classroom</button>
        <button class="box" [routerLink]="['/home/student']">student</button>
        <button class="box" [routerLink]="['/home/scheduleassignment']">scheduleassignment</button>
        <button class="box" [routerLink]="['/home/submitassignment']">submitassignment</button>
      </div>
      <div class="home">
      <router-outlet></router-outlet>
    </div>
  </div>
  </div>
</body>
</html>
