.box {
    color: white;
    padding: 10px;
    text-align: center;
    border-style: inset;
    margin-bottom: 10px;

  }
 
  .green {
    background: green;
  }

  .blue {
    background: blue;
  }


  .big-box {
    height: 300px;
    background: aquamarine;
    color: black;
    text-align: center;
    padding: 20px;
    border-style: inset;
 
    width: 1500px;
    
  }
 
ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid #ccc;
margin-bottom: 5px;
padding: 10px;
display: flex;
justify-content: space-between;
align-items: center;
text-align: center;
}
p {
font-size: 16px;
  text-shadow: 2px 2px 5px blue;
  font-weight: bold;
  margin-right :10%;
  color:black;
}
img {
max-width: 70%;
display: block;
width:50%;

margin-left: 20%;
background-attachment: fixed;
top: 0;
height: 100%;
right: 0;
}

button {
  display: inline-block;
  padding: 10px 20px; 
  margin-right :50%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
  border: 2px solid blue;
  margin-bottom: 0;
}
span {
  cursor: pointer;
  color: red;
  font-weight: bold;
}
.side-box {
width: 100%;
background: url('/assets/homework.gif') no-repeat center center fixed;
background-size: 100% 100%;
background-attachment: fixed;
color: black;
text-align: center;
padding: 10px;
border-style: inset;
height: 400px;
}

 
  .home {
    background: pink;
    flex: 1;
    width: 100%;
  }
  input {
    background-color: aquamarine;
  width: 90%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
}
textarea{
  margin-right :50%;
  
}