<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body ng-app="addclassroom"> 
  <div id="layoutContainer" fxLayout="column">
    <div fxLayout="row">
      <div class="side-box" fxLayout="column">
        <p>classname:<input type="text" [(ngModel)]="newclassroom" /></p>
        <p>starttime: <input type="text" [(ngModel)]="starttime" /></p>
        <p>endtime: <input type="text" [(ngModel)]="endtime" /></p>
        <p>subject: <input type="text" [(ngModel)]="subject" /></p>
        <button (click)="additem()">schedule</button>
      </div>
      <div class="big-box">
       <p>list of classroom</p> 
        <ul>
          <li *ngFor="let x of classrooms; let i = index">
            <button class="classroom-button" (click)="showClassroomDetails(i)">{{x}}<span (click)="removeitem(i)">x</span></button>
</li>
        </ul>
        <div *ngIf="showDetails && selectedClassroom">
          <h2>Classroom Details</h2>
          <p>Name: {{ selectedClassroom.name }}</p>
          <p>Students:</p>
      
<div *ngFor="let student of selectedClassroom.students">
  {{ student }}
</div>
  </div>
  </div>
  </div>
  </div>
</body>
</html>
